.title {
  background-color: orange;
  margin: auto;
  margin-top: 20px;
  width: 580px;
  text-align: center;
  height: 200px;
  padding: 30px;
  overflow: hidden;
  border-radius: 16px;
  font-size: 24px;
  box-shadow: 1px 1px 1px 1px;
}
.subtitle {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}
