header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0.3px 0.3px 0.3px 0.3px;
  font-size: 18px;
  background-color: rgb(255, 166, 0);
  color: rgb(0, 0, 0);
  margin-top: auto;
  align-items: center;
  z-index: 99;
}
.link:hover {
  color: blue;
}

.headerText {
  color: black;
  text-decoration: none;
}
.headerText:hover {
  color: blue;
}
