header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0.3px 0.3px 0.3px 0.3px;
  font-size: 18px;
  background-color: rgb(255, 166, 0);
  color: rgb(0, 0, 0);
  margin-top: auto;
  align-items: center;
  z-index: 99;
}
.link:hover {
  color: blue;
}

.headerText {
  color: black;
  text-decoration: none;
}
.headerText:hover {
  color: blue;
}
@media (max-width: 1199.98px) {
  .header {
    display: none;
  }
}
.burger {
  position: sticky;
  margin: 30px 0px 0px 30px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.034);
  color: rgb(0, 0, 0);

  z-index: 99;
}

@media screen and (min-width: 1199.98px) {
  .burger {
    display: none;

    // "height: 0" not work with css transitions
  }
}

.listPages {
  background: #e5feff;
  overflow: hidden;
  text-align: center;
  background-color: orange;
  padding: 6px;
}
.listPages:hover {
  background-color: rgba(255, 166, 0, 0.938);
}
.hidden {
  display: none;
}
