.header {
  display: flex;
  background-color: orange;
  border-radius: 4px;
  color: black;
  position: relative;
  margin: 20px 120px 2px 120px;
  padding-left: 15px;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px;

  & img {
    position: absolute;
    right: 5px;
    width: 100px;
    top: 3px;
  }
}
.main {
  display: flex;
  background-color: rgb(245, 204, 129);
  border-radius: 16px;
  padding: 12px 20px 12px 20px;
  margin: 0px 120px 10px 120px;
  box-shadow: 1px 5px 5px 0px;
  overflow: auto;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .img {
    display: none;
  }
}
